.Topic3{
    grid-area: T3;

    
    display: grid;
    grid-template-areas: 
    'm'
    'head-t3';

}

.head-t3{
    grid-area: head-t3;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Sofia';
}