.for-teacher{
    grid-area: bt;

    margin: 0 auto;
    margin-top: 2em;
    font-family: "Sofia";
   
}

.for-teacher a{
    background-color: white;
    color: rgb(23, 93, 215);;
    border: 2px solid rgb(23, 93, 215);
    padding: 10px;
    font-size: 20px;
}