* {
    box-sizing: border-box; 
}

.Homework2{
    grid-area: hw2;
    display: grid;
    
    grid-template-areas: 
    'm'
    'head-hw2'
    'desc';
  
}

.head-hw2hw2{
    grid-area: head-hw2;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Sofia';
    padding-top: 11px;
}