.materials{
    grid-area: mat;

    background-color: #97a7ee;;
    width: 900px; 
    height: 270px;
    margin: 30px auto; 
    padding: 15px;

    border-radius: 8px;
    font-family: 'Sofia';
    box-shadow: 0 2px 10px rgba(0, 34, 255, 0.245); 


}

.materials a{
    display: flex;

    justify-content: center;
    outline: none;
    text-decoration: none;
    
    color: #17293c;
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    border: 2px solid #c2d5e9; 
 
}