.materials{
    grid-area: mat;
    display: grid;

    grid-template-areas: 
    "v"
    "t"
    "doc";
  
    grid-template-rows: 5fr 5fr 5fr;
    background-color: rgb(41, 157, 235);
    font-size: x-large;
    line-height: 3em;

}
