.topic-for-hw3{
    grid-area: topic-for-hw3;
    display: grid;
    grid-template-areas: 
    "topic-hw3"
    "deadline-hw3";
    grid-template-rows: 2fr 1fr;

    background-color: rgb(202, 246, 250);

}

.topic-hw3{
    grid-area: topic-hw3;
}

.deadline-hw3{
    grid-area: deadline-hw3;
}