.message{
    grid-area: mes;
    
    margin-bottom: 20em;
    margin: 0 auto;
    font-family: "Sofia";
   
}
.message a{
    outline: none;
    text-decoration: none;
    color: rgb(23, 93, 215);
}

.message-for-t{
    grid-area: text-mes;
    font-size: 25px;
    color: rgb(23, 93, 215);


}