.topic-for-hw6{
    grid-area: topic-for-hw6;
    display: grid;
    grid-template-areas: 
    "topic-hw6"
    "deadline-hw6";
    grid-template-rows: 2fr 1fr;

    background-color: rgb(202, 246, 250);

}

.topic-hw6{
    grid-area: topic-hw6;
}

.deadline-hw6{
    grid-area: deadline-hw6;
}