.Topic10{
    grid-area: T10;

    
    display: grid;
    grid-template-areas: 
    'm'
    'head-t10';

}

.head-t10{
    grid-area: head-t10;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Sofia';
}