.topic-for-hw2{
    grid-area: topic-for-hw2;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "topic-hw2"
    "deadline-hw2";


    background-color: rgb(202, 246, 250);

}

.topic-hw2{
    grid-area: topic-hw2;
}

.deadline-hw2{
    grid-area: deadline-hw2;
}