.description-text{
    grid-area: desc-t;
    margin: 0 auto 0 0;
    display: grid;
    grid-template-areas: 
    "h-desc"
    "t-desc";

    grid-template-rows: 2fr 4fr;
    background-color: rgb(153, 204, 238);
  

}

.head-for-description{
    grid-area: h-desc;
    font-size: large;
    margin: 0 auto;
}

.text-for-description{
    grid-area: t-desc;
    font-size: small;
    margin: 0 auto;
}