.Topic8{
    grid-area: T8;

    
    display: grid;
    grid-template-areas: 
    'm'
    'head-t8';

}

.head-t8{
    grid-area: head-t8;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Sofia';
}