.header{
    display: grid;
    grid-area: h;
    grid-template-areas: 
    "name"
    "descrip";
    grid-template-rows: 2fr 1fr;
}

.name{
    grid-area: name;
    font-size: xx-large;
    margin-left: 3em;
    margin-right: 7em;

}

.description{
    grid-area: descrip;
    font-size: xx-small;
    div{display: inline;}

}

