.topics{
    grid-area: topics;
    margin: 0 auto;
    font-size: x-large;

    
    background-color: rgb(172, 209, 233);
    padding: 2em;
    padding-left: 10em;
    padding-right: 10em;
    
    line-height: 2;

}

a{
    outline: none;
    text-decoration: none;
    color: rgb(6, 67, 174);
}