.about-course{
    grid-area: course;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "h-about"
    "text";
}

.head-about{
    grid-area: h-about;
}

.text{
    grid-area: text;
    font-size: xx-small;
    margin-top: 3fr;

}