.description-text{
    grid-area: desc-t;
    display: flex;
    flex: 2; 
    flex-direction: column;
    background-color: #97a7ee;; 
    padding: 20px;
    margin-right: 20px; 
    border-radius: 10px;
    color: #17293c;
    align-items: center;

}

.head-for-description{
    grid-area: h-desc;
    text-align: center;
    font-size: 30px;
    font-family: 'Sofia';
}

.text-for-description{
    grid-area: t-desc;
    font-size: 18px;
    text-align: center;

    margin-top: 10px ;
}

a{
    outline: none;
    font-size: 18px;
    color: #17293c;
}