.header{
    display: grid;

    grid-template-areas: 
    "name"
    "descrip";

    grid-template-rows: 2fr 1fr;

    grid-area: h;
    
    margin: 0 auto;
    

  }

.name{
    grid-area: name;
    font-size: xx-large;
    margin: 0 auto;

}

.description{
    grid-area: descrip;
    font-size: x-large;
    margin: 0 auto;
}

