.news{
  grid-area: n;
  div { display: inline; }
  display: grid;
  
  grid-template-areas: 
  "1" "2" "3";

  grid-template-columns: 4fr 4fr 4fr;

  background-color: rgb(41, 157, 235);




}

.news1{
    grid-area: 1;

}

.news2{
    grid-area: 2;

}

.news3{
    grid-area: 3;
}