.video-head{
    grid-area: video;

    grid-template-areas: 
    "m"
    "h-video";

    grid-template-rows: 1fr 3fr;
}

.head-for-video{
    grid-area: h-video;
    margin: 0 auto;
    font-size: xx-large;
}