
.menu{
    
    grid-area: m;
   
    background-color: rgb(217, 232, 242);
    div { display: inline; }
    font-size: x-large;
 

    display: grid;
    grid-template-areas: 
    "menu-home" "menu-notes" "menu-hw" "menu-self" "menu-about";
     
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr;
    word-spacing: 0;
  }
  
