.topic-for-hw5{
    grid-area: topic-for-hw5;
    display: grid;
    grid-template-areas: 
    "topic-hw5"
    "deadline-hw5";
    grid-template-rows: 2fr 1fr;

    background-color: rgb(202, 246, 250);

}

.topic-hw5{
    grid-area: topic-hw5;
}

.deadline-hw5{
    grid-area: deadline-hw5;
}