.Topic1{
    grid-area: T1;

    
    display: grid;
    grid-template-areas: 
    'm'
    'head-t1';
    grid-template-rows: 2fr 3fr;
}

.head-t1{
    grid-area: head-t1;
    margin: 0 auto;
    font-size: xx-large;
}