.topic-for-hw4{
    grid-area: topic-for-hw4;
    display: grid;
    grid-template-areas: 
    "topic-hw4"
    "deadline-hw4";
    grid-template-rows: 2fr 1fr;

    background-color: rgb(202, 246, 250);

}

.topic-hw4{
    grid-area: topic-hw4;
}

.deadline-hw4{
    grid-area: deadline-hw4;
}