.homeworks{
    grid-area: works;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
    "topic-for-hw1" "topic-for-hw2" "topic-for-hw3"
    "topic-for-hw4" "topic-for-hw5" "topic-for-hw6";

    padding-left: 10%;
    padding-right: 10%;
    vertical-align: top;
    background-color: rgb(198, 227, 246);
    margin-left: 25%;
    margin-right: 10%;

    text-align: center;

}
