.homeworks{
    grid-area: works;

    display: block;
    margin-top: 2em;
    margin-left: 9em;
    margin-right: 9em;

    padding-left: 12em;
    padding-right: 12em;

    background-color: rgb(198, 227, 246);


    text-align: center;

}
