.description-info{
    grid-area: desc-i;
    margin: 0 0 0 auto;
    display: grid;
    grid-template-areas: 
    "deadl"
    "marks"
    "links";
    grid-template-rows: 2fr 2fr 2fr;
}

.deadline{
    grid-area: deadl;

}

.marks{
    grid-area: marks;
}

.links-to-material{
    grid-area: links;
}