.Topic2{
    grid-area: T2;

    
    display: grid;
    grid-template-areas: 
    'm'
    'head-t2';

}

.head-t2{
    grid-area: head-t2;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Sofia';
}