.headers{
    grid-area: headers;
    
    div{display: inline-block;}

    display: grid;
    grid-template-areas: 
    "h-about" "h-feedback";

    grid-template-columns: 3fr 4fr;



}

.head-fb{

    grid-area: h-feedback;
}

.head-about{
    grid-area: h-about;
}