.homework{
    grid-area: home;
    
    display: grid;
    
    grid-template-areas: 
    "m"
    "head-f-h"
    "works";
  
    grid-template-rows: 3fr 5fr 7fr;
    
    margin: 0 auto;
    
    
}

.head-for-homework{
    grid-area: head-f-h;
    margin: 0 auto;
    font-size: xx-large;
}

