.Homework1{
    grid-area: hw2;
    display: grid;
    margin: 0 auto;
    grid-template-areas: 
    "m" 
    "head-hw2"
    "desc";
    grid-template-rows: 1fr 1fr 5fr;


}

.head-hw2hw2{
    grid-area: head-hw2;
    margin: 0 auto;
    font-size: xx-large;
}