.topic-for-hw1{
    grid-area: topic-for-hw1;
    display: grid;
    grid-template-areas: 
    "topic-hw1"
    "deadline-hw1";
    grid-template-rows: 2fr 1fr;

    background-color: #97a7ee;


}

.topic-hw1{
    grid-area: topic-hw1;

}

.deadline-hw1{
    grid-area: deadline-hw1;
}