.notes{
    grid-area: notes;

  
    display: grid;
    grid-template-areas: 
    'm'
    'head'
    'topics';
    grid-template-rows: 2fr 2fr 10fr;

   

}

.head-for-notes{
    grid-area: head;
    margin: 0 auto;
    font-size: xx-large;
}